
* {
	box-sizing: border-box;
}
h1 {
	margin-left: 40px;;
}
ol {
	list-style-position: inside;
	color:  rgb(212, 208, 216);
	width: 80vw;
}
body {
	background-color: rgb(79, 19, 135);
	color: #fff;
	font-size: 1em;
	font-family: "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 1em;
	}

main {
	margin: 1em;
	color: white;
	font-size: 2em;
	width: 50%;
}
li {
	width: 90vw;
	display: list-item;
	padding:.5em 1em;
	margin: 10px 10px;
	border-radius: 5px;
	background-color: white;
	color:  rgb(79, 19, 135);
}
div {
	display: inline-block;
	margin: .05em;
	width: 50px;
	height: 50px;
	font-weight: bold;
	background-color: aliceblue;
	color:rgb(79, 19, 135);
	border-radius: 50%;
	text-align: center;
	line-height: 50px;;
}